/* page padding */

.uk-container {
  margin-right: auto;
  margin-left: auto;
}

/*headshot*/

.headshot {
  border-radius: 50%;
  max-height: 250px;
}

.headshot-container {
  margin-top: 20px;
  text-align: center;
}

/*social menu*/

#social a {
  text-decoration: none;
  border: none;
  font-size: 25px;
  padding-right: 0.7em;
}

/* general */

h4 {
  margin-top: 0;
}

.fixed {
  max-height: 100vh;
  overflow-y: scroll;
  padding-bottom: 50px;
  margin-top: 20px;
}

/* hidden divs */

.shown {
  display: none;
}
